.navbar {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    z-index: 10;
    padding: 0.625rem 1rem;

    .container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .brand {
        font-family: $secondary-font;
        font-size: 1.25rem;
        font-weight: bold;
        color: $white;
        text-transform: uppercase;
        padding: 0.3125rem 0rem;
        margin-right: 1rem;
        white-space: nowrap;
        display: none;

        @include on-event {
            text-decoration: none;
        }
    }

    .items-container {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .items-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding-left: 0;
        margin-bottom: 0;
        margin-left: auto;
        list-style: none;
        margin-top: 0.5rem;

        li {
            > a {
                font-family: $secondary-font;
                font-weight: normal;
                font-size: 0.875rem;
                color: $white;
                padding: 0.5rem 0.625rem;
            }

            &:last-child {
                a {
                    border: 2px solid $white;
                    border-radius: 40px;

                    @include on-event {
                        border: 2px solid $primary-color;
                        background-color: $primary-color;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

@media(min-width: 768px) {
    .navbar {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        padding: 1.25rem 1rem;

        .container {
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
        }

        .brand {
            display: inline-block;
        }

        .items-container {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-preferred-size: auto;
            flex-basis: auto;
        }

        .items-list {
            margin-top: 0;
        }
    }
}