$primary-font: "Roboto", sans-serif;
$secondary-font: "Montserrat", sans-serif;

$text-color: #858796 !default;
$white: #FFF;
$black: #000;
$darker-grey: #444;
$brownish-grey: #666;
$light-grey: #F7F3F2;
$light-pink: #E3E3E3;
$wrongurl-color: #EEE;
$primary-color: #FF4E50;
$secondary-color: #667DF3;
$aqua-color: #19D4CA;
$yellowish-color: #FFA710;
$body-color: $white;
$btn-color: $primary-color;
$hover-color: $secondary-color;